@keyframes moveRight {
  100% {
    transform: translateX(calc(100vw - 100px)); /* Move to right side */
  }
}

.move-right {
  animation: moveRight 4s linear forwards; /* Animation properties */
}

.bodyBackground {
  position: fixed;
  top: -150vh;
  left: -150vw;
  height: 300vh;
  width: 300vw;
  z-index: -10;
  opacity: 0.5;
  background-image: url("../assets/Images/background.jpg");
  background-repeat: repeat;
}