<div class="flex flex-col md:flex-row items-center justify-center min-h-[50vh]">
  <div class="md:w-5/12">
    <img src="../../assets/Images/homepage.jpg" alt="HomeImg">
  </div>
  <div class="flex-row md:flex-col">
    <div class="border border-blue-600 bg-blue-600 text-white rounded-md px-3 py-1 w-fit mb-2">
      To-do List
    </div>
    <div class="uppercase text-3xl text-blue-950">
      Task Management
    </div>
    <div class="text-lg text-blue-950 text-opacity-80">
      Welcome to ToDo App
    </div>
    <div class="text-blue-950 text-opacity-80">
      This is the app to record and manage the todo tasks.
    </div>
  </div>
</div>